<body>
  <section class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
      
        <h1 class="opacity">Login</h1>


        <form class="dropIt">
    
          <input type="password" placeholder="email" />
          <input type="text" placeholder="password" />
          <div>
          
          
          </div>
          <button class="opacity">SUBMIT</button>
        </form>

        
        <div class="register-forget opacity">
          <a routerLink="/registrationpage"
          routerLinkActive="activeRoute">Or Register</a>
        </div>


      </div>
     
    </div>
   
  </section>
</body>
