<body>
  <section class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
      
        <h1 class="opacity">Register</h1>


        <form class="dropIt">
          <input type="text" placeholder="full name" />
          <input type="password" placeholder="email" />
          <input type="text" placeholder="password" />
            <label for="">Admin?</label>
          <div>
          
            <select name="isAdmin" class="selectG">
              <option value="default">Default setting</option>
              <option value="yes">yes</option>
              <option value="no">no</option>
            </select>
          </div>
          <button class="opacity">SUBMIT</button>
        </form>

        
        <div class="register-forget opacity">
          <a routerLink="/loginpage"
          routerLinkActive="activeRoute">Or Login</a>
        </div>


      </div>
     
    </div>
   
  </section>
</body>
