<body>
  <section class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
      
        <h1 class="opacity">Register</h1>


       
        <form class="dropIt" autocomplete="off" >

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="Name"
              placeholder="Email"
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="email"
              id="Email"
              placeholder="Email"
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="password"
              id="Password"
              placeholder="Email"
            />
          </div>
          
          
            <label for="">Admin?</label>
          <div>
          
            <select  name="isAdmin" class="selectG">
              <option value="default">Default setting</option>
              <option value="yes">yes</option>
              <option value="no">no</option>
            </select>
          </div>
          <button class="opacity">SUBMIT</button>
        </form>

        
        <div class="register-forget opacity">
          <a routerLink="/loginpage"
          routerLinkActive="activeRoute">Or Login</a>
        </div>


      </div>
     
    </div>
   
  </section>
</body>
