<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons [collapse]="true" slot="end"> </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
      <ion-buttons [collapse]="true" slot="end"> </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    Scroll the list to see the title & buttons collapse.
  </div>

  <ion-card class="Procard" color="dark">
    <ion-card-header>

      <a
      class="nav-link"
      routerLink="/addressbookpage"
      routerLinkActive="activeRoute"
      ><ion-card-subtitle>Address Book</ion-card-subtitle></a>
      
    </ion-card-header>
  </ion-card>


  <ion-card class="Procard1" color="dark">
    <ion-card-header>

      <a
      class="nav-link"
      routerLink="/wishlistpage"
      routerLinkActive="activeRoute"
      ><ion-card-subtitle>Wish list</ion-card-subtitle></a>
      
    </ion-card-header>
  </ion-card>


  <ion-card class="Procard1" color="dark">
    <ion-card-header>

      <a
      class="nav-link"
      routerLink="/orderspage"
      routerLinkActive="activeRoute"
      ><ion-card-subtitle>Orders</ion-card-subtitle></a>
      
    </ion-card-header>
  </ion-card>


  <ion-card class="Procard1" color="dark">
    <ion-card-header>

      <a
      class="nav-link"
      routerLink="/personaldetailspage"
      routerLinkActive="activeRoute"
      ><ion-card-subtitle>Personal Details</ion-card-subtitle></a>
      
    </ion-card-header>
  </ion-card>


  <ion-card class="Procard1" color="dark">
    <ion-card-header>

      <a
      class="nav-link"
      routerLink="/paymentdetailspage"
      routerLinkActive="activeRoute"
      ><ion-card-subtitle>Payment Details</ion-card-subtitle></a>
      
    </ion-card-header>
  </ion-card>


  <ion-card class="Procard1-5" color="dark">
    <ion-card-header>

      <a
      class="nav-link"
      routerLink="/loginpage"
      routerLinkActive="activeRoute"
      ><ion-card-subtitle>LogIn</ion-card-subtitle></a>
      
    </ion-card-header>
  </ion-card>


 
</ion-content>
