<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="cart" size="large"></ion-icon></ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button class="nav-link"
      routerLink="/cartpage"
      routerLinkActive="activeRoute"><ion-icon name="glasses" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cart</ion-title>
      <ion-buttons [collapse]="true" slot="end">
        <ion-button class="nav-link"
        routerLink="/cartpage"
        routerLinkActive="activeRoute"><ion-icon name="glasses"></ion-icon></ion-button>
      </ion-buttons>  
    </ion-toolbar>
  </ion-header>


  <div class="ion-padding">A list of all your chosen Items for Checkout</div>

  
  <ion-list>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable><ion-icon class="Delt" name="heart-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>Sliding Item with End Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success"  expandable><ion-icon class="Delt" name="trash-outline" size="large"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
<div class="JumboTron">


</div>
    
      <div class="BtnPlacemnt">
        <ion-button fill="outline" color="medium">Medium</ion-button>
        <ion-button color="success">Success</ion-button>
      </div>
      

  
  </ion-list>



</ion-content>
